body{
    background-color: #ffce74;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 16px;
    margin:32px;
    border: 10px solid #333;
    margin-left: 32px;
    margin-right: 32px;

}

h1{
    text-align: center;
    color: #2c3e50;
    background-color: rgb(241, 142, 142);
    border: 10px solid brown;
    padding: 16px;
    width: 50%;
    margin-left: 25%;
}

a{
    color: #310adf;
    text-decoration: underline !important;
    font-weight: bold;
}

a:hover{
    color: #ff0000;
    font-size: 18px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

a:active{
    color: #ff0000;
    font-size: 18px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

