@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}


.main {
    background-image: url('../assets/Images/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: grayscale(50%);
    height: 644px;
    position: relative;
    overflow: hidden;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 69px;
}

.navbar img {
    width: 150px;
    position: relative;
    z-index: 10;
    margin-top: 20px;
}

.buttons {
    display: flex;
    gap: 16px;
}

.button1,
.button2 {
    position: relative;
    z-index: 10;
}

#language {
    background: transparent;
    border: 1px solid #af9d9d;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 32px;
    width: 120px;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.button2 button {
    background-color: rgb(207, 22, 22);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    height: 34px;
    width: 75px;
    margin-top: 15px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    color: white;
    height: 87.5vh;
    width: 50%;
    margin: auto;
    text-wrap: wrap;
    position: relative;
    z-index: 10;
    padding: 0 30px;
    flex-wrap: nowrap;
}

.cont h1 {
    font-size: 3.6rem;
    text-align: center;
    font-weight: 900;
    padding: 0;
}

.cont h2 {
    font-size: 1.2rem;
    text-align: center;
}

.cont p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 200;
}

.login {
    display: flex;
    gap: 10px;
}

#email {
    /* background: transparent; */
    background-color: rgb(22, 19, 19);
    opacity: 0.8;
    border: 1.5px solid #e9dcdc;
    color: #fffbfb;
    padding: 5px 10px;
    border-radius: 4%;
    cursor: pointer;
    height: 60px;
    width: 360px;
    font-size: 16px;
    font-weight: 450;
    padding-left: 16px;
}

.start {
    background-color: rgb(207, 22, 22);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    height: 60px;
    width: 200px;
}

.sections {
    border-top: 3px solid #3f3939;
}

.box1,
.box2,
.box3,
.box4,
.box5 {
    border-top: 3px solid #3f3939;
    border-bottom: 3px solid #3f3939;
    height: 500px;
    width: 100%;
}

.stuff {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    max-width: 70vw;
    height: 495px;
    gap: 50px;
    overflow: hidden;
}

.assets {
    position: relative;
    top: 0;
}


.assets img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.assets video {
    position: absolute;
    top: 59px;
    right: 51px;
    width: 22vw;
}

.text p {
    margin-top: 13px;
}

.FAQ {
    padding: 50px 0;
    height: 800px;
    border-bottom: 3px solid #3f3939;
}

.FAQ .log p {
    text-align: center;
    margin-top: 75px;
    font-size: 15px;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.qs {
    height: 80px;
    width: 75vw;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    transition: background-color 0.3s ease;
}

#email2 {
    background-color: rgb(22, 19, 19);
    opacity: 0.8;
    border: 1.5px solid #e9dcdc;
    color: #fffbfb;
    padding: 5px 10px;
    border-radius: 4%;
    cursor: pointer;
    height: 50px;
    width: 480px;
    font-size: 16px;
    font-weight: 450;
    padding-left: 16px;
}

.start2 {
    background-color: rgb(207, 22, 22);
    ;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    height: 50px;
    width: 200px;
}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.Questions {
    margin: 40px 0px 0px 125px;
    font-weight: 400;
}

footer {
    /* max-width: 100vw; */
    margin: auto;
    padding: 60px;
}


.footer {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 90px;
    margin-left: 70px;
}

.footer-item a {
    color: rgb(153, 146, 146);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footer-item {
    list-style: none;
}

.footer-item li {
    padding: 5px 0;
    font-size: 15px;
}

.lang2 {
    margin-left: 70px;
}
.P1 {
    margin: 35px 0px 0px 70px; font-size: 13.5px; color: rgb(153, 146, 146); font-weight: 500;
}
.P2 {
    margin: 40px 0px 0px 70px; font-size:12px;color: rgba(143, 134, 134, 0.877); font-weight: 450;
}


@media only screen and (max-width:455px) {

    .main {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }

    .navbar {
        max-width: 90vw;
    }

    .navbar img {
        width: 90px;
    }

    .buttons {
        gap: 10px;
    }

    .button1 #language {
        height: 35px;
        width: 70px;
        margin-top: 20px;
        font-size: 9px;

    }

    .button2 button {
        height: 35px;
        width: 70px;
        font-size: 12px;
        font-weight: 500;
        margin-top: 20px;
    }

    .cont {
        width: 85%;
        padding: 0 10px;
        gap: 10px;
        height: 80vh;
        margin-top: 0px;
        box-sizing: border-box;
    }

    .cont h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    .cont h2,
    .cont p {
        font-size: 1rem;
        font-weight: 450;
        text-align: center;
    }

    .login {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    #email {
        width: 250px;
        height: 50px;
        font-size: 14px;
    }

    .start {
        width: 170px;
        height: 50px;
        font-size: 18px;
    }
    .stuff {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:10px
    }
    
    .assets img {
        width: 75vw;
        margin-top: 20px;
    }
    .assets video {
        width: 45vh;
        left:30px
    }
    .text {
        margin: 20px 0px 40px 0px;
    }
    .text h1{
        font-size: 1.3rem;
        text-align: center; 
    }

    .FAQ {
        height: auto;
        padding: 30px 0;
    }

    .FAQ h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .FAQ .log p {
        padding: 0px 20px;
        font-size: 16px;
    }

    .log .form {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    #email2 {
        width: 250px;
        height: 50px;
        font-size: 14px;
        margin-left: 20px
    }

    .start2 {
        width: 170px;
        height: 50px;
        font-size: 18px;
        margin-left: 20px
    }
    .Questions {
        text-align: center;
        margin: 30px
    }
    footer {
        padding: 30px 10px;
        height: 900px;
    }
    .footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        gap: 30px;
        margin-left: 20px;
    }
    .footer-item {
        width: 150px;
    }
    .lang2 {
        margin: 20px;
    }
    .Netflix .P1, .Netflix .P2 {
        margin:40px 20px

    }


}